
<%= form_with model: @task do |form| %>
  <p>Please edit the following info:</p>

  <%= form.label :name %>
  <%= form.text_field :name, value: @task.name  %>

  <%= form.label :description %>
  <%= form.text_field :description, value: @task.description %>

  <%= form.label :completion_date %>
  <%= form.text_field :completion_date, value: @task.completion_date %>

  <%= form.submit "Save Task", class: "task-button" %>
<% end %>

<%=link_to "Return to main tasks list", tasks_path %>
