<!-- #resplace with form patial for new books -->

<%= form_with model: @task do |form| %>
  <p>Please provide the following info to add a task to your list:</p>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :completion_date %>
  <%= form.date_select(:completion_date, prompt: {month: 'Month', day: 'Day', Year: 'Year'}) %>

  <!-- <%= form.text_field :completion_date %> -->

  <%= form.submit "Save Task", class: "task-button" %>
<% end %>
