
<p><strong>Task:</strong>
  <%= @task.name%></p>

<p><strong>Description:</strong>
  <%= @task.description%></p>

<p><strong>Task must be completed by:</strong>
  <%= @task.completion_date%></p>

<p>
  <%=link_to "Edit This Task", edit_task_path %>
  <!-- <%=link_to "Delete This Task", delete_task_path %> -->
  <%=link_to "Return to main tasks list", tasks_path %>
  </p>
