<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1>Carly's to do list</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <h5>Feel free to do any of these tasks for her!</h5>
  </footer>
</body>
</html>
